# gitignore
node_modules

# Only apps should have lockfiles
yarn.lock
package-lock.json

# editor/ide stuff
.vscode

# yarn berry
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/pnpify
!.yarn/versions
.pnp.*
